h1 {
  font-spacing: .3rem;
  font-size: 5rem;
}

body{
  background-color: gold;
  text-align: center;
}

img {
  float: right;
  margin:0 100px 50px 0;
  height: 300px;
}

#subhead1 {
  float: left;
  margin-left: 100px;
}
