<!-- eventually change this post box on same page as index. with div popping up -->

<h2> "<%= @hype.msg %>" </h2>

<%= link_to "Out the Cuts bro..", hype_path, method: :delete,
 data: { confirm: "Sugar coat that to Oblivion?"} %>

<%= link_to "Hype Central", hypes_path %>
