<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <p>See the users <a href="/users">here</a>…</p>
    <br>
    <p>…or find the API <a href="/api/users">here</a>.</p>
  </body>
</html>
