<h1>Who want the real cool Brandon!?!?</h1>

<div>
  <p>These keys for mees: <b><span id="place"></span></b></p>
</div>

<input type="text" id="take" placeholder="me key?"></input>

<br>
<br>

<%= link_to 'Index', root_path %>
<%= link_to 'About', static_pages_about_path %>
