<h1>COOL BRANDON</h1>
<h3 id="subhead1">Being cool and wrappin! Yah!</h3>

<%= image_tag("boy_rap") %>

<%= link_to 'Contact', static_pages_contact_path %>
<%= link_to 'About', static_pages_about_path %>
